manim==0.18.1
fastapi==0.111.0
google-generativeai==0.7.0
pydantic==2.7.4
bs4==0.0.2
langchain-community==0.2.6
langchain-huggingface==0.0.3
sentence-transformers==3.0.1
chromadb==0.5.3
anthropic==0.30.0
manim-voiceover==0.3.6.post0
azure-cognitiveservices-speech==1.38.0
boto3==1.34.138
